input,
button {
    border-radius: 0;
}

body {
    height: 100vh;
}
h1 {
    color: white;
    text-transform: uppercase;
}
.color-main {
    background-color: #3bad29;
}

.log-in-container {
    width: 100%;
}
@media (min-width: 992px) {
    .log-in-container {
        width: 50%;
    }
}

